/* Estilos para a tela de login e cadastro */
#auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg);
}

.login-page {
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.password-toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button#login-btn, button#register-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.6rem;
}

p a {
    color: var(--primary-color);
    text-decoration: underline;
}
